@import "media-queries.scss";
@import "../styles/variables";

// Widescreens
@include mediaXl {

}

// Desktops & Laptops
@include mediaLg {

}

// Tablets & Small laptops
@include mediaMd {
  .main-info {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  ul.menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  div.menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  div.about-info {
      display: flex;
      flex-direction: column;
    }

  div.job {
    margin-top: 30px;
  }

  div.projects {
    grid-template-columns: 1fr 1fr;
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  div.projects {
    grid-template-columns: 1fr;
  }
}