$primary-color: #444;
$default-text-color: #fff;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url('../../assets/assets_portfolio/background.png');
$background-opacity: 0.85;

//Set Text Color
//@function set-text-color($color) {
////  @if (lightness($color) > 40) {
////    @return #000;
////  } @else {
////    @return #fff;
////  }
////}